body {
  background-color: rgb(244, 221, 184);
  font-size: 20px;
  font-family: "Montserrat Alternates", sans-serif;
}
button {
  font-size: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: aliceblue;
  border-radius: 10%;
  border: 4px solid brown;
}
input {
  font-size: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  border-radius: 5%;
  border: none;
}
